<div class="card">
  <img class="card-img-top" src="http://placehold.it/820x320">
  <div class="card-body">
    <div>
      <h4 class="pull-right">{{ product?.price | currency }}</h4>
      <h4>{{ product?.title }}</h4>
      <p>{{ product?.description }}</p>
    </div>
    <div class="ratings">
      <p class="pull-right">{{ reviews?.length }} reviews</p>
      <p><auction-stars [rating]="product?.rating"></auction-stars></p>
    </div>

    <div class="thumbnail" style="margin: 10px 0;">
      <button class="btn btn-primary"
              [ngClass]="{active: isWatching, 'btn-warning': isWatching}"
              (click)="toggleWatchProduct()"
              role="button">
        {{ isWatching ? 'Stop watching' : 'Watch' }}
      </button>

      <label>Current bid: {{ currentBid | currency }}</label>
    </div>

    <div class="card-footer" id="reviews-anchor">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="text-right">
        <button (click)="isReviewHidden = !isReviewHidden"
                class="btn btn-success btn-green">Leave a Review</button>
      </div>
      
      <div [hidden]="isReviewHidden">
        <div><auction-stars [(rating)]="newRating" [readonly]="false" class="large"></auction-stars></div>
        <div><textarea class="form-control" [(ngModel)]="newComment"></textarea></div>
        <div><button (click)="addReview()" class="btn btn-default" style="margin-top: 10px;">Add review</button></div>
      </div>

      <div class="row" *ngFor="let review of reviews">
        <hr>
        <div class="col-md-12">
          <auction-stars [rating]="review.rating"></auction-stars>
          <span>{{ review.user }}</span>
          <span class="pull-right"> {{ review.timestamp | date: "shortDate" }}</span>
          <p class="card-text text-muted">{{ review.comment }}</p>
        </div>
      </div>
    </div>

  </div>
</div>